/* used for visible website title */
.title { color:blue; font-size: 48px}
/* used for sub-description in a list */
.description { font-size: 10px; font-style: italic}
/* used to demark subsections */
.section {color:red; font-size: 24px}
/* used to make links larger */
.link {font-size: 24px; font-style: bold}
/* used to differentiate blocks of text from
   lists or definitions */
.blocktext {font: helvetica}